#root {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: rgb(220, 255, 255);
}

* {
	user-select: none;
}

@media (prefers-color-scheme: dark) {
	#root {
		background: #001929;
	}
}
